#home-container {
  display: flex;
  position: absolute;
  z-index: 100;
  top: 0;
}

#home-video {
  width: 40%;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin: 0 auto;
  border: 6px solid #0086af;
}

#mainArea {
  display: flex;
  flex-direction: column;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
}

.name {
  font-size: 4em;
  font-family: "Gochi Hand", cursive;
}

.mainButton {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
}

#social {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.social-button {
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.3em;
}

#github {
  background-color: black;
}

#linkedin {
  background-color: #0077b5;
}

.fab {
  font-size: 1.2em;
  padding-right: 10px;
}
